<p id="notice"><%= notice %></p>

<h1>Facebooks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facebooks.each do |facebook| %>
      <tr>
        <td><%= facebook.title %></td>
        <td><%= facebook.content %></td>
        <td><%= facebook.image %></td>
        <td><%= facebook.user.name %></td>
        <td><%= link_to 'Show', facebook %></td>
        <td><%= link_to 'Edit', edit_facebook_path(facebook) %></td>
        <td><%= link_to 'Destroy', facebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facebook', new_facebook_path %>
